/*	Headings
	--------
	Heading tags, h1 - h6.
	There are two methods of working here.
	We can either use the modular route
	that automatically sizes the fonts down
	in accordance to a specific mathmatic
	algorithm, or we can define them manually.
	
	I'll put both in the code so you can switch betwen them. 
	
*/

h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6 {
	text-rendering: optimizelegibility; // Fix the character spacing for headings
	font-weight: 300;
	
	// If the title is in another font, we'll add an extra class for it.
	&.hero{
		font-family: $sans-serif; 
	}
}

/* 	If you want to size things automatically,
	turn automaticsizing to true and change
	the maximum sizes here in rem. */

$automaticSizing:	true;

@if ($automaticSizing) {
	
	/* 	You'll notice how much nicer this part is.
		Everything is taken care of inside a loop
		somewhere else on the site: _mixins.scss
	*/
	
	h1, .h1 {	@include modular(3rem);		}
	h2, .h2 {	@include modular(1.875rem);	
		// We've got a hero version of <h2> tags
		&.hero {  @include modular(6.25rem); }
	} 
	h3, .h3 {	@include modular(1.5rem);		} 
	h4, .h4 {	@include modular(1.125rem);	} 
	h5, .h5 {	@include modular(1rem);		} 
	h6, .h6 {	@include modular(0.85rem);		} 

} @else { 
	
	/* 	If things aren't accurate enough, we can
		expand it so you've got access to each 
		font size through the mediaqueries. */
	
	h1, .h1 {	
		font-size: u(2rem);
		@include wider-than(tablet){	font-size: u(2.5rem);	}
		@include wider-than(desktop){	font-size: u(3rem);	}
	}

	h2, .h2 {
		font-size: u(1.6rem);
		@include wider-than(tablet){	font-size: u(1.75rem);	}
		@include wider-than(desktop){	font-size: u(1.875rem);	}

		// We've got a hero version of <h2> tags
		&.hero{
			font-size: u(3rem);
			@include wider-than(tablet){	font-size: u(4rem);	}
			@include wider-than(desktop){	font-size: u(6.25rem);	}
		}
	}
	
	h3, .h3 {	
		font-size: u(1rem);
		@include wider-than(tablet){	font-size: u(1.125rem);	}
		@include wider-than(desktop){	font-size: u(1.375rem);	}
	}
	h4, .h4 {	
		font-size: u(0.75rem);
		@include wider-than(tablet){	font-size: u(0.85rem);	}
		@include wider-than(desktop){	font-size: u(1rem);	}
	}
	h5, .h5 {	
		font-size: u(0.75rem);
		@include wider-than(tablet){	font-size: u(0.85rem);	}
		@include wider-than(desktop){	font-size: u(0.9rem);	}
	}
	h6, .h6 {	
		font-size: u(0.7rem);
		@include wider-than(tablet){	font-size: u(0.75rem);	}
		@include wider-than(desktop){	font-size: u(0.8rem);	}
	}
}