/*	Page Styles
	-----------
	Used for elements like body and html
	
*/


body {
	// Background style
	background-color: $grey-light;
	
		// Darken the background slightly
		// to emphasise the cards if used.
		@include wider-than(tablet){
			background-color: $white;
		}
	
	// Type Styles
	font-family: $sans-serif;
	font-size: 90%;
	line-height: 1.4;
	color: $text-colour;
	font-weight: 400;

	@include wider-than(tablet){
		font-size: 100%;
		line-height: 1.5;
	}
}
