/* Ownership of the stylesheets is global. */

$site-name: Meat !global;
$author:	Andrew + Eivin !global;

/******************************************************************
Site Name: #{$site-name}
Author: #{$author}

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/

@import 'bourbon';

/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/

// THIS CONVERTS ALL REMS TO PX
$px-only: true;
$ie: true;

// Normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/variables";

@import "breakpoints"; // These are the sizes for the responsive design

// Typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// Import mixins
@import "partials/mixins";

// Import Photoshop Styles
@import 'global';

// Experimental Columns
@import 'modules/columns';

@import "modules/animations"; 	// import Animations
@import "modules/alerts"; 		// import alerts
@import "modules/buttons"; 		// import buttons
@import "modules/forms"; 		// import forms

@import "partials/ie_grid"; // import grid

/*	Elemental
	----------
	This is where all the elements of the website are brought together.
	Each element contains its own mediaqueries and does not depend on anything else. */
@import "elements/*";


/*	Page by page
	----------
	This is where all the elements of the website are brought together.
	Each element contains its own mediaqueries and does not depend on anything else. */
@import "pages/*";


// This is now an issue with REM's. Need to bring the base back in for the functions to kick in!
@import "breakpoints/base";

// import everything inside media queries
@import "breakpoints/mobile";
@import "breakpoints/phablet";
@import "breakpoints/tablet";
@import "breakpoints/desklet";
@import "breakpoints/desktop";
@import "breakpoints/cinema";

/* you can call the larger styles if you want, but there's really no need */