/*! Made with Meat: http://yratof.github.io/meat/  */

/* Ownership of the stylesheets is global. */

$site-name: Meat !global;
$author:	Andrew + Eivin !global;

/******************************************************************
Site Name: #{$site-name}
Author: #{$author}

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/


/********************************************
				B O U R B O N

	Note: If you don't know what you
	do and don't want, just uncomment
	bourbon below and just enjoy life
	with a glass of bourbon.

********************************************/

@import 'bourbon';

// THIS CONVERTS ALL REMS TO PX
$px-only: false;
$ie: false;

@import "partials/normalize";
@import "partials/functions"; // Functions u() etc
@import "partials/breakpoints"; // Breakpoints
@import "partials/mixins"; // Mixins
@import 'partials/global'; // Photoshop variables
@import 'partials/columns'; // Columns
@import 'partials/gridmath'; /* Grid Math */

/* All Elements */ 
@import "components";

// Extra fancy shit.
@import "partials/animations";	// Animations
@import "partials/alerts"; // Alerts
@import "partials/buttons"; // buttons
@import "partials/forms"; // forms (inputs & labels)

/* Print Styles */
@media print { @import "print/print"; }
