/******************************************************************
Stylesheet: Meat. v1
URL: http://forsvunnet.github.io/meat/

Description: Meat.

******************************************************************/
body {
  background: url("../images/background.jpg") #bc4824; }

#logo {
  height: auto;
  left: 50%;
  margin-left: -5%;
  max-width: 10%;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
