/******************************************************************
Site Name: #{$site-name}
Author: #{$author}

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/


/************************************
		B U T T O N   C O L O U R S
	
	This mixin gives you a button in any
	colour that you want. It then decides
	if the background is dark or light and
	gives you white or dark grey text colour.


*************************************/
@mixin button($colour, $style: false){

	@if ($style) {
		// Standard styles
		border: none;
		border-bottom: 5px solid darken($colour, 20%);
		border-radius: 2px;
		text-indent:0;
		display: inline-block;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		padding: 7px 14px;
		outline: none; 
		-webkit-font-smoothing: antialiased;
	}
	
	/**********************************
	 This determines the background colour
	 in a greyscale manner, if it's lighter
	 than 40% lightness, the text colour
	 becomes dark to compensate.
	**********************************/

	color: $white;
	background: $colour;

	$brightness: lightness($colour);
	@if ($brightness < 70%) {
	
		color: $white;
		&:hover, &:focus, &:active { color: $white; }
		
	} @else {
	
		color: $text-colour;
		&:hover, &:focus, &:active { color: $text-colour; }
		
	}
	
	/**********************************
	 This is the style for the hovers,
	 the actives and the visited.
	**********************************/

	&:hover{
		background: lighten($colour, 5%);
	}
	
	&:active{ 
		background: darken($colour, 10%); 

		@if ($style) {
			box-shadow: inset 0px 10px 5px -7px darken($colour, 20%);
			position: relative;
		    top: 4px;
		    margin-bottom: 4px;
			border-bottom-width: 1px;
		}
	}

	&:visited{
		background: $colour;
		border-bottom-color: darken($colour, 20%);
	}


}

/******************************
Button Classes that you can have
for free. Go on. Have them
******************************/

.button.brand {			@include button($brand-colour, true);		}
.button.highlight { 	@include button($brand-highlight, true); 	}
.button.white {			@include button($white, true); 				}
.button.black {			@include button($black, true);				}
.button.compliment {	@include button($brand-compliment, true);	}