/******************************************************************
Site Name: #{$site-name}
Author: #{$author}

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

/*************************************************
	We include the grid for when you're 
	using the lowest file, you might still
	want to use this in the base, the 481 etc
*************************************************/

@import 'partials/gridmath';


body {
	background: $white;
	-webkit-font-smoothing: antialiased;

}

.wrap {
	width: 96%;
	margin: 0 auto;
}


/*********************
HEADING STYLES - Type
*********************/

h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizelegibility; // Fix the character spacing for headings
	color: $brand-colour;
	font-weight: 300;
}

h1, .h1 {	@include modular(2.20);		} 
h2, .h2 {	@include modular(1.875);	} 
h3, .h3 {	@include modular(1.5);		} 
h4, .h4 {	@include modular(1.125);	} 
h5, .h5 {	@include modular(1);		} 
h6, .h6 {	@include modular(0.85);		} 

/*********************
TEXT BODY STYLES
*********************/

body{
	font-family: $sans-serif;
	font-size: 90%;
	line-height: 1.4;
	color: $text-colour;
	font-weight: 400;
}

b, strong{
	font-weight: 500;
}

/*********************
SEPARATION STYLES
*********************/

// Horizontal rules
hr {
	margin: ($gutter * 2) 0;
	border: 0;
	border-bottom: 1px solid $black;
}


/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {
	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}


/*********************
IMG STYLES
*********************/

.img{
	vertical-align: bottom;
}


/*********************
LOGO STYLES
*********************/

#logo {
	display: block;
	text-align: center;
	width: 100%;
	padding: u(1.5rem 0);

	margin: 0;
	
	a{
		border-bottom: 0;
	}
	
	img{
		max-width: u(15rem);
		height: auto;
		margin: 0 auto;
	}
}




/*********************
NAVIGATION AND MENUS
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

%togglable {

	@media only screen and (max-width: $tablet) {		

		.js & {
			overflow: hidden;
			max-height: 0;
			@include transition(0.4s all $ease-in-out-quart);
	
			&.show {
				max-height: u(500rem);
			}
		}
	}
}



/*********************
MOBILE DROPDOWN NAVIGATION STYLES
*********************/

.clickable {
	margin: 0;
	color: $text-colour;
	cursor: pointer;
	padding: 0;
	width: 45px;
	position: absolute;
	top: 20px;
	right: 20px;
}

	.menu-icon {
		margin-top: 0px;
		padding: 0;
		
		div {
			height: 4px;
			width: 100%;
			margin-bottom: 5px;
			border-radius: 1px;
			background: $text-colour;
		}
		
/* Uncomment this for menu to be written after the burger style buttons

		&:after{
			content: "Menu"; // How will you ever translate this?
			@include font-size(0.75);
			text-transform: uppercase;
			font-family: $sans-serif;
			display: block;
			text-align: center;
		}
*/
		
	}


/*********************
NAVIGATION STYLES
*********************/

.nav {
	margin: 0;
	font-family: $sans-serif;

	@media only screen and (max-width: $tablet) {	
		.js & {
			overflow: hidden;
			max-height: 0;
			@include transition(0.4s all $ease-in-out-quart);
			&.show { max-height: u(500rem); }
		}
	}
	
	
	.js & {
		border-top: 0;

		// This only applies to js enabled windows
		// We use js to adjust the top position
		//position: absolute;
		left: 0;
		right: 0;
		display: inline-block;
		width: 100%;
		position: relative;
		top: 0;
		z-index: 5;
		
		li{
			a{
			width: 100%;
			}
		}
	}
	
	li {
		a {
			display: inline-block;
			text-decoration: none;
		}
		
		ul.sub-menu,
		ul.children {
			@media only screen and (max-width: $tablet) {	
				.js & {
					overflow: hidden;
					max-height: 0;
					@include transition(0.4s all $ease-in-out-quart);
					&.show { max-height: u(500rem); }
				}
			}
			li {
				a {
					//@include bg($white);
					padding-left: $gutter * 2;
				}
			}
		}
	} /* end .menu li */
} /* end .nav */



/*********************
POSTS & CONTENT STYLES
*********************/


img {
	margin: 0;
	max-width: 100%;
	height: auto;
}

/* post meta */
.byline {
	color: #999;
}


blockquote {
    background: $grey-lighter;
    border-left: 10px solid;
    margin: 0;
    padding: 1em 2em;
}


.page-title {
	/* Removing the */
    margin: 0;
}

.entry-content {

	ul{
		list-style: disc;
		margin-left: $gutter * 3;
		
		li{
			
		}
	}

	dd {
		margin-left: 0;
		color: #787878;
	}

	/*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	video, object {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */




/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.meat_page_navi {

		li {
			float: left;
			margin-left: 10px;

			a {
				padding: 3px 6px;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;
			position: relative;

		} /* end .meat_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

	} /* end .meat_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */


	.pagination{
	
		.page-numbers{
	
			width: 100%;
			display: inline-block;
			text-align: center;
			
			li{
				display: inline-block;
				padding: 4px;
				
				a, .span {
					background: $brand-colour;
					color: $white;
					border-radius: 2px;
					display: block;
					height: 30px;
					width: 30px;
					text-align: center;
					vertical-align: middle;
				}
			}
					
		}
	
	}

/******************************************************************
COMMENT STYLES
******************************************************************/

.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: u(1.5rem);
		padding: u(0.7335rem 10px);

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;
		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: u(1.1rem);
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	/* general comment classes */
	.odd {
		background: $grey;
	}
	.even {
		background: $grey-lighter;
	}
	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;
		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 8px 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */




/*********************
SIDEBAR STYLES
*********************/

.sidebar{
	
	ul{ 
		margin: 0;
	}
	
	li {
	
		a {
			display: block;
		}
	}
}


/*********************
FOOTER STYLES
*********************/
