/******************************************************************
Site Name: #{$site-name}
Author: #{$author}

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*************************************************
	We include the grid for when you're 
	using the lowest file, you might still
	want to use this in the base, the 481 etc
*************************************************/

@import 'partials/gridmath';


.wrap {
	width: 96%;
	margin: 0 auto;
}