/******************************************************************
Site Name: #{$site-name}
Author: #{$author}

Stylesheet: Phablet Stylsheet

This is the Phablet size. It's larger than phone, smaller than a tablet...

******************************************************************/

$wrap: $phablet;

.wrap {
	max-width: $wrap;
}