/******************************************************************
Site Name: #{$site-name}
Author: #{$author}

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-size: 100%;
	line-height: 1.5;
}


/*********************
LAYOUT & GRID STYLES
*********************/

$wrap: $tablet;

.wrap {
	max-width: $wrap;
}


/*********************
HEADER STYLES
*********************/

.header {}


/*********************
LOGO STYLES
*********************/

#logo {
	@include width(3);
	text-align: left;
	float: left;
	margin-left: 0;


	img{
	    margin: 0em auto;
	    max-width: 100%;
	    position: relative;
	    z-index: 20;
	}
}

/*********************
NAVIGATION STYLES
*********************/

.mobile-only{
	display: none;
	visibility: hidden;
}


.nav {
	text-align: center;
	margin: u(1rem 0);
	vertical-align: middle;

	.js & {
		display: block;
		top: auto;
		right: auto;
		left: auto;
		max-height: 100%;
	}
	
	li {
		display: inline-block;
		position: relative;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $white;
				background: $brand-colour;
				
				a{
					color: $white;
				}
			}
			
		a {
			border-bottom: 0;
			color: $text-colour;
			@include font-size(1);
			padding: u(0.5rem 1rem);
			font-weight: 400;

			&:hover, &:focus {
				color: $white;
				background: darken($brand-colour, 10%);
			}
		}

		&:first-child {}
		&:last-child {}
		
		/*
		plan your menus and drop-downs wisely.
		*/
		.js & ul.show.sub-menu,
		.js & ul.show.children,
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 15;
			text-align: left;
			color: $white;
			background: $brand-colour;

			li {

				&:hover, &:focus {
					a{
						background: darken($brand-colour, 10%);
						border-radius: 2px;
					}
				}
				
				a {
					@include font-size(0.85);
					border-right: 0;
					display: block;
					width: u(18rem);
					color: $white;
					
					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */




/*********************
SIDEBARS & ASIDES
*********************/

	.widget {
		ul {
			li {
				margin-bottom: u(0.75rem);

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: u(0.75rem);
					padding-left: u(1rem);
				}
			}
		}
	}



/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/

.footer{
	text-align: left;

	.widget{
		
		width: col_width(3);
		width: col_width(3, true);

		&.first{ margin-left: 0;}
		&.last{ float: right;}
		

		&:first-child{
			margin-left: 0;
		}

		ul{
			padding: 0;
			margin: 0;

			li{
				padding: 0;
				margin: 0;
			}
		}
	}

	a{	
		&:hover{
			color: $brand-colour;
			text-decoration: underline;
		}
	}
}
